<section class="main">
  <h2>Welcome to Rideshare on Rails</h2>
  <ul>
    <li>
      <p>
        <a href="/drivers">Manage Drivers</a>
      </p>
    </li>
    <li>
      <p>
        <a href="/passengers">Manage Passengers</a>
      </p>
    </li>

  </ul>
</section>
