<div class="homepage-container">

  <section class="homepage-left">
    <%= image_tag 'luke-stackpoole-YNQgPXShu7g-unsplash.jpg', 
      alt: "New York Rides, Photo by Luke Stackpoole on Unsplash", 
      class: "homepage-img" 
    %>
  </section>

  <section class="homepage-right">
    <%= image_tag 'luke-stackpoole-YNQgPXShu7g-unsplash.jpg', 
      alt: "New York Rides, Photo by Luke Stackpoole on Unsplash", 
      class: "homepage-img" 
    %>
  </section>

</div>