<section class="passenger">
  <section class="header" >
    <h2 class="form-title">
      Add a new Passenger
    </h2>
  </section>
  <%= render partial: "form", locals: {action_name: "Create"} %>
</section>
