/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation
 *= require foundation_and_overrides

 *=

 */


h2, h3 {
  font-size: 0.75em;
}

label {
  font-weight: bolder;
  color: navy;
}

.pagination, .pagination::before, pagination::after {
  display: inline;
}

.driver-list ul, .driver-list li, .driver-list li section, .driver-list li section h2 {
  display: inline;
}

span.page, span.current, .pagination a, .pagination button {
  display: inline;
}

.driver-picture {
  display: inline-block;
}

.form-title {
  font-weight: bold;
  font-size: 1.5em;
  color: navy;
  text-align: center;
}
section.driver {
  margin: 5px;
}
.submit-btn {
  text-align: center;
}
